
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" >
      <ul class="navbar-nav mr-auto justify-content-between"></ul>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'all_neighbourhoods' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="{% url 'create_neighbourhood' %}"> New neighbourhood</a>
        
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
     
    

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{%url 'profile' %}">View profile</a>
            <a class="dropdown-item" href="/accounts/password/change">Edit Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>

      </ul>
    </div>

   
<div>
  <span class="pull-right">
    {% if user.is_authenticated %}

        <a href="{% url 'display_profile' %}" class="nav-item-nav-link mr-5" style="color: black">
           <i>{{ user | upper}}</i>
            <i class="far fa-user-circle fa-2x"></i>
        </a>
       
        {% else %}
        <div>
            <strong><a class="text-black" href="{% url 'register' %}">Register </a></strong> |
            <strong><a class="text-black" href="{% url 'login' %}"> log in</a></strong>                
        </div>
        <div></div>
        <div></div>
        

        {% endif %} 
</span>
</div>

<div class="col-sm-4 col-md-4 navbar-right">

  <form class="navbar-form" role="search" action="{% url 'search_results' %}">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Business" name="business">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>

  </form>
</div>
<!-- search form end -->
    
  </nav>
    
  