{%extends 'neighbour/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if businesses %}
      <h2>Found {{ businesses|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 businesses for the search term {{message}}</h2>
      <h2>{{business.name}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if businesses %}
  {% for business in business %}
      <div class="col-sm-6 col-md-3">
          <h1>{{business.name}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}

<div class="container-fluid">
  {% if businesses %}
    <!-- start of table  --> 
    <div class="table-responsive">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0">
            <thead class="grey black-text">
            <tr class="font-weight-bold">
                <th class="">Business Name</th>
                <th class="">Business Email</th>
                <th class="">Business Description </th>
                <th class="">Neighborhood Name</th> 
                <th class="th-sm">Police Contacts</th>
                <th class="th-sm">Health Contacts</th>                    
            </tr>
            </thead>

            <tbody>
                {% for business in business %}
                <tr>
                    <td>{{business.name}}</td>
                    <td>{{business.address}}</td>
                    <td>{{business.email}}</td>
                    <td>{{business.neighborhood.name}}</td> 
                    <td>{{business.police}}</td>
                    <td>{{business.health}}</td>   
                </tr>
                {% endfor %}                
            </tbody>                  
        </table>
    </div>
    <!-- end of table  -->
  {% endif %}
</div>