{% extends 'neighbour/base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container" style="font-size: large;">
    
   
    <div class="row">

<div class="col-md-8">
        <h2 font-size=12 >Welcome to our neighbourhood community</h2>
        <div class="table-responsive">
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead class="blue white-text">
                    <tr class="font-weight-bold">

                        <th class="th-sm">Location</th>
                        <th class="th-sm">Neighborhood</th>
                        <th class="th-sm">description</th>
                        <th class="th-sm">Health Contacts</th>
                        <th class="th-sm">Police Contacts</th>
                        <th class="th-sm">Posted By:</th>
                        <th class="th-sm">Business:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for neighbourhoods in neighbourhoods %}
                    <tr>
                        <td>{{ neighbourhoods.name}}</td>
                        <td>{{ neighbourhoods.location}}</td>
                        
                        <td>{{ neighbourhoods.description}}</td>

                        <td>{{ neighbourhoods.health}}</td>
                        <td>{{ neighbourhoods.police}}</td>
                        <!-- <td>{{neighbourhoods.user|title}}</td> -->

                    
                        <td>{{neighbourhoods.neighbourhood.post.user|title}}</td>
                        <td>{{neighbourhoods.neighbourhood.Business.name}} </td>

                    </tr>
                    {% endfor %}

                    {% for post in posts %}
                    <tr><td>{{neighbourhood.post.user|title}}</td></tr>
                    
                    {% endfor %}

                    {% for business in business %}
                    <tr><td>{{neighbourhood.business.name}}</td></tr>
                    
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Neighbourhood</h2>

    {% for neighbourhoods in neighbourhoods %}
    <a href="{% url 'neighbour' neighbourhoods.id %}" class='btn btn-primary btn-sm'>{{neighbourhoods.name}}</a> <br>
    {% endfor %}
    </div>

    </div>
</div>
{% endblock %}
