{% extends 'neighbour/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <h5 class="card-title">
        Dear {user.username}, Welcome to your hood,{{ neighborhoods.name }} in {{neighborhoods.location}}
    </h5>


    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="card-body">
                        <div class="col-md-6">
                            <p class="card-text">
                                <span class="text-info">Emergency Police Contact</span>&nbsp;<strong>{{neighborhoods.police}}</strong> |

                                <span class="text-info">Health Contact Details</span> <strong>{{neighborhoods.health}}</strong></p>

                            <p class="card-text">Administrator:{{ neighborhoods.admin.user }}</p>
                        </div>

                        <div class="col-md-6">
                            <p class="card-text">{{neighborhoods.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">

            <h5 class="D-block mx-auto">Business'</h5>
            <hr>
            <div class="col-md-7">

                {% for business in business %}
                <div class="card mb-4">
                    <img src="{{ biz.business_image.url }}" alt="" class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">{{business.name}}
                        </h5>
                        <p class="card-text">{{business.email}}</p>
                        <p class="card-text">{{business.description}}</p>
                        <p class="card-text">Neighbourhood: <small class="text-muted">
                                {{ business.neighbourhood.neighbourhood.name}}</small></p>
                        <p class="card-text">Business Owner: <small class="text-muted">{{ business.user.user.username|title }}</small></p>
                        <p class="card-text">Health Contacts: <small class="text-muted">{{ business.health }}</small></p>

                        <p class="card-text">Health Contacts: <small class="text-muted">{{ business.police }}</small></p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <h2>Add your business to neighbourhoods</h2>
                <form action="" method="post">
                    {% csrf_token%}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-sm btn-success">Save Business</button>
                    <button type="button" class="btn btn-sm btn-outline-danger " data-dismiss="modal">
                        Close
                    </button>
                </form>

            </div>


            <div class="col-md-1"></div>


            <h5 class="D-block mx-auto">Posts</h5>
            <div class="col-md-5">
                <a href="{% url 'add_post' mtaa.id %}" class="btn btn-primary">ADD POST</a>
                {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{post.post}}
                        </h5>
                        <p class="card-text">By: <small class="text-muted"> {{ post.user|title }}</small> <small style="float:right"> Posted on:{{ post.date|date}}</small></p>
                        <p class="card-text">By: <small class="text-muted">{{ post.neighbourhood|title }}</small> <small style="float:right"> Posted on:{{ post.date|date}}</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>



</div>
</div>




{% endblock %}